*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:white;

color:#111;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

position:fixed;

width:100%;

top:0;

background:white;

z-index:999;

}

.logo{

font-size:22px;

font-weight:800;

}

.top-icons{

display:flex;

gap:10px;

}

.top-icons button{

width:42px;

height:42px;

border:none;

background:#F4F4F4;

border-radius:12px;

cursor:pointer;

font-size:18px;

}

#sideMenu{

position:fixed;

top:0;

right:-280px;

width:260px;

height:100%;

background:white;

transition:.35s;

display:flex;

flex-direction:column;

padding:80px 25px;

gap:25px;

box-shadow:-5px 0 20px rgba(0,0,0,.08);

}

#sideMenu a{

text-decoration:none;

color:#111;

font-weight:600;

font-size:17px;

}

.hero{

padding:120px 24px 40px;

text-align:center;

}

.hero h1{

font-size:54px;

font-weight:900;

line-height:60px;

text-transform:uppercase;

}

.hero span{

color:#00C853;

display:block;

}

.hero p{

margin-top:22px;

font-size:18px;

line-height:32px;

color:#666;

}

.hero-buttons{

margin-top:35px;

display:flex;

flex-direction:column;

gap:15px;

}

.greenBtn{

background:#00C853;

color:white;

height:58px;

border:none;

border-radius:14px;

font-size:17px;

font-weight:700;

cursor:pointer;

}

.whiteBtn{

height:58px;

border-radius:14px;

border:2px solid #DDD;

background:white;

font-size:17px;

font-weight:700;

cursor:pointer;

}

.hero-image{

margin-top:50px;

}

.hero-image img{

width:100%;

border-radius:20px;

}
